@import 'var'

// Basic styling - unwichtig für das Tutorial - START //
.wrapper
  display: flex
  justify-content: space-between
  flex-direction: column
  width: 100%
  height: 100%
  padding: 2rem

  .half
    height: 50vh
    widows: 100%
    display: flex
    justify-content: space-between
    flex-direction: column

    .label
      color: white
      font-size: 2rem

    .input, .output
      background-color: white
      border-radius: 2rem
      width: 100%
      height: 100%
      padding: 2rem
      font-size: 2rem
      font-family: 'Roboto'
// Basic styling - unwichtig für das Tutorial - END //

// Wichtig für das Tutorial - START //

// Man könnte allen Text der im Input steht hier wie normalen Code stylen weil er in dem Output-Container als normaler Code ausgegeben wird...


// Wichtig für das Tutorial - END //
